@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>Periodo Prueba</h1>
    <div>
        <img class="img-fluid" src="https://surcipres.com.ar/assets/img/hero-img.png" alt="Periodo Prueba Sistema" />
    </div>
    <p>Sistema diseñado para evaluar la aprobación del periodo de prueba de un trabajo</p>
    
</div>
