@using Modelo.Entidades
@model Capacitacion
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Eliminado de la capacitación</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>
                Confirmar eliminado de Capacitación: @Model.Tema
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <form asp-action="Delete" method="post">
                <input type="text" asp-for="CapacitacionId" hidden />

                <div class="form-group">
                    <label class="custom-control-label">Tema: </label>
                    <input class="form-control" type="text" asp-for="Tema" disabled />
                </div>
                <div class="form-group">
                    <label class="custom-control-label">Fecha: </label>
                    <input class="form-control" type="date" asp-for="Fecha" disabled/>
                </div>

                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Eliminar Capacitación" />
                </div>
            </form>
        </div>
    </div>

</div>


