<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBTipo" value="Mysql"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlServer"
			 connectionString="Server=ABEL-ASAA\SQLEXPRESS; Initial Catalog=PeriodoPrueba; trusted_connection=true;"/>
		<add name="Postgres"
			 connectionString="Host=localhost;Database=PeriodoPrueba;Username=postgres;Password=Abel.2021;"/>
		<add name="Mysql"
			 connectionString="server=localhost;database=PeriodoPrueba;port=3306;user id=root;password=;"/>
		<add name="Memoria"
			 connectionString="PeriodoPrueba_DBMemoria"/>
	</connectionStrings>
</configuration>